<div class="col-md-8" 
            *ngIf="file.extensao == 'text/html' 
                  || file.extensao == 'application/pdf'
                  || file.extensao == 'text/plain' ">
    <ul class="nav nav-pills" role="tablist">
        <li role="presentation" ><a class="botao" (click)="editar()" *ngIf="file.extensao == 'text/html' || file.extensao == 'text/htm' ">Editar<span class="badge"></span></a></li>
        <li role="presentation" ><a class="botao"  >Fazer Upload da Nova Versão<span class="badge"></span></a></li>
        <li role="presentation"><a  class="botao" > Fazer Download </a></li>
        <li role="separator" class="divider"></li>
    </ul>
    <h4>{{file.name}} </h4>
    <ul>
      <li class="sidebar-right__imagem">
          <a target="_blank" href="{{file.url}}">
            <img id="ItemPreview" src="data:image/jpg;base64,{{file.arquivo}}" />
          </a>
      </li>
      <li><strong>nome: </strong> {{file.name}} </li>
      <li><strong>Identificador: </strong> UCMServer#dDocName: {{file.id}}</li>
      
      <li><strong>Descrição: </strong></li>
      <li><strong>Tipo: </strong>{{file.tipoDoc}}</li>
      <li><strong>Tamanho: </strong> {{file.size}}</li>

      <li><strong>Criado: </strong>  {{file.dtCriacaoArquivo}}</li>
      <li><strong>Criado Por: </strong>{{file.autor}}</li>
      <li><strong> Ultima Modificação: </strong> {{file.dtUltimaModificacao}}</li>
      <li><strong>Ultima Modificação Por: </strong>  {{file.autorUltimaModificacao}}</li>
      <br />
      <li>
        Última Modificação em  <strong>{{file.dtUltimaModificacao}}</strong>  por  <strong>{{file.autorUltimaModificacao}}</strong>
        Versão <strong>{{file.revision}}</strong>
    </li>
    </ul>
</div>

<div class="col-md-8" *ngIf="file.extensao == 'image/jpeg' ">
  <ul class="nav nav-pills" role="tablist">
      <li role="presentation" ><a class="botao" >Fazer Upload da Nova Versão<span class="badge"></span></a></li>
      <li role="presentation"><a class="botao"> Fazer Download </a></li>
      <li role="separator" class="divider"></li>
  </ul>
  <ul>
    <li class="sidebar-right__imagem">
        <a target="_blank" href="{{file.url}}">
          <img id="ItemPreview" src="data:image/jpg;base64,{{file.arquivo}}" style="width: 500px!important;display: inline-block" />
        </a>
    </li>
    <li>
        <br />
        <br />
        Última Modificação em  <strong>{{file.dtUltimaModificacao}}</strong>  por  <strong>{{file.autorUltimaModificacao}}</strong>
        Versão <strong>{{file.revision}}</strong>
    </li>
  </ul>
</div>


<div class="col-md-8">
        <br />
             <tabset>
                <tab heading="Comentarios" id="tab1"></tab>
                <tab heading="Tags"></tab>
                <tab heading="Historico">
                  
                </tab>
                <tab heading="Links">Não há links disponíveis para este item.</tab>
              </tabset>
</div>