.sidebar-right{
    border-left: 3px solid #EBEBEB;
}
.sidebar-right{color: #092E50}
.sidebar-right ul{margin-left: -34px}
.sidebar-right ul li{list-style-type: none }

.sidebar-right__imagem i{
    font-size: 86px;
    background-color: #efeeee;
    padding: 36px 32px;
    margin: 20px 0px;
    -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}

/* temporário */
.botao{cursor: pointer;}