<div class="row">
    <div class="col-md-10">
      <breadcrumb  [collectionId]="collectionId" ></breadcrumb>
    </div>
    <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)">
        <div class="col-md-10">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input readonly="true"
                      type="text"
                      name="name" 
                      required
                      [(ngModel)]="file.name"  
                      #t="ngModel"
                      class="form-control"  
                      placeholder="Digite o titulo"/>
               </div>
             
        </div>
       <div class="col-md-10">
          <ck-editor name="conteudo" [(ngModel)]="file.conteudo" #editor="ngModel"  skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
        </div>
        
        <div class="col-md-9">
            <button type="submit" class="btn btn-primary">Editar</button>
            <button type="button" (click)="cancelar()"  class="btn btn-secondary">Cancelar</button>
        </div>
    </form>
