<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">PGC</a>
    </div>
   
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li >
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li><a [routerLink]="['/collections']" >Pasta Content</a></li>
      </ul>
      
    </div><!--/.nav-collapse -->
  </div>
</nav>