<ul class="nav nav-pills" role="tablist">
    <li role="presentation" ><a [routerLink]="['/home/wiki/new',collectionId]">Novo Documento Wiki <span class="badge"></span></a></li>
    <li role="presentation"><a [routerLink]="['/home/upload',collectionId]" >Fazer Upload</a></li>
    <!--li role="presentation"><a href="#">Fazer Downloads <span class="badge"></span></a></li -->
</ul>