<div class="row">
    <div class="col-md-9">
        <breadcrumb  [collectionId]="collectionId" ></breadcrumb>
    </div>
    <div class="col-md-9">        
        <file-drop headertext="Solte os arquivos aqui " 
                (onFileDrop)="dropped($event)" 
                (onFileOver)="fileOver($event)" 
                (onFileLeave)="fileLeave($event)">
            <span><i class="fa fa-cloud-upload fa-5" aria-hidden="true"></i></span>
        </file-drop>
        <div class="upload-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody class="upload-name-style">
                    <tr *ngFor="let item of files">
                        <td><strong>{{ item.relativePath }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-9">
       <button type="button" [disabled]="files.length == 0" (click)="upload()"  class="btn btn-primary">Fazer Upload</button>
       <button type="button" (click)="cancelar()" class="btn btn-secondary">Cancelar</button>
    </div>
</div>
