
/* scroll */
::-webkit-scrollbar {width: 7px;height: 7px}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 10px;}
::-webkit-scrollbar-thumb {border-radius: 10px;background-color: #9e9e9e;}    