
    
<tree-root 
        [options]="options" 
        [(state)]="state"  
        #tree 
        [focused]="true" 
        [nodes]="pastas" 
        (moveNode)="onMoveNode($event)"    
        (event)="onEvent($event)">
  <ng-template #treeNodeWrapperTemplate let-node="node" let-index="index">
      <span> <i *ngIf="node.isExpanded && node.data.folder" class="fa fa-folder-open fa-lg"></i></span>
      <span> <i  *ngIf="node.isCollapsed && node.data.folder" class="fa fa-folder fa-lg"></i></span>
      <span><i  *ngIf="node.data.extensao === 'pdf'  " class="far fa-file-pdf" ></i></span>
      <span><i  *ngIf="node.data.extensao === 'docx' " class="fas fa-file-word">picture_as_pdf </i></span>
      <span><i  *ngIf="node.data.extensao === 'png' " class="fa fa-image" aria-hidden="true"> </i></span>
      <span><i  *ngIf="node.data.extensao === 'html' "  class="fa fa-code" aria-hidden="true"> </i></span>
      <span><i  *ngIf="node.data.extensao === 'htm' "  class="fa fa-code" aria-hidden="true"> </i></span>      
      <span><i  *ngIf="node.data.extensao === 'jpg' " class="fa fa-image" aria-hidden="true"></i></span>
      <span><i  *ngIf="node.data.extensao === 'zip' " class="fas fa-file-archive" aria-hidden="true"></i></span>

      <tree-node-expander [node]="node">
             <div class="node-content-wrapper"
            (treeDrop)="node.onDrop($event)">
            </div>
      </tree-node-expander>
      <span (click)="downloadsArquivo(node)" [class]="node.data.className" [class.title]="true">{{ node.data.submissionState }}  {{ node.data.name }}</span>
   </ng-template>
</tree-root>

