<div class="row">
  <div class="col-md-3">
    <app-treeview   
        (collectionId)="loadCollectionIdTreeview($event)" >
   </app-treeview>
  </div>
  
  <div class="col-md-9" >
      <breadcrumb   
           [file]="file" 
           [collectionId]="collectionId" 
           (emitCollectionId)="loadCollectionIdBreadcrumb($event)" *ngIf="pastas != null">
      </breadcrumb>
      <app-menutreeview 
              *ngIf="pastas != null && flag == false"
               [collectionId]="collectionId">
      </app-menutreeview>

      <app-filelist *ngIf="pastas != null && flag == false"  
                    (fileContent)="loadFile($event)" 
                    (emitCollectionId)="loadCollectionIdFileList($event)"  
                    [collectionId]="collectionId">
       </app-filelist>
  </div>

  <div class="col-md-9">
    <app-viewcontent *ngIf="flag == true" [file]="file" ></app-viewcontent>
  </div>



</div>