<div>
 
    <!--breadcrumb (pastasEmmit)="loadPastas($event)" [bredCrumbs]="bredCrumbs"></breadcrumb -->
   

    <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Modificado Por</th>
                    <th>Ultima Modificação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pasta of pastas" >
                    <td>       
                            <span  *ngIf="pasta.folder"> <a  (click)="clickPasta(pasta.id)"> <i class="fa fa-folder fa-lg"></i>  {{pasta.name}}</a> </span>
                            <span  *ngIf="pasta.extensao === 'pdf' "  (click)="clickArquivo(pasta.id)" ><i  class="far fa-file-pdf" ></i>{{pasta.name}}</span>
                            <span  *ngIf="pasta.extensao === 'docx' " (click)="clickArquivo(pasta.id)"><i  class="fas fa-file-word">picture_as_pdf </i> {{pasta.name}}</span>
                            <span  *ngIf="pasta.extensao === 'png' " (click)="clickArquivo(pasta.id)"><i   class="fa fa-image" aria-hidden="true"> </i> {{pasta.name}}</span>
                            <span  *ngIf="pasta.extensao === 'html' "(click)="retreiveHtml(pasta.id)" ><i  class="fa fa-code" aria-hidden="true"> </i> {{pasta.name}}</span>
                            <span  *ngIf="pasta.extensao === 'htm' " (click)="retreiveHtml(pasta.id)"><i  class="fa fa-code" aria-hidden="true"> </i> {{pasta.name}}</span>      
                            <span  *ngIf="pasta.extensao === 'jpg' "(click)="clickArquivo(pasta.id)"><i  class="fa fa-image" aria-hidden="true"></i> {{pasta.name}}</span>
                            <span *ngIf="pasta.extensao === 'zip' " (click)="clickArquivo(pasta.id)"><i   class="fas fa-file-archive" aria-hidden="true"></i> {{pasta.name}} </span>
                            <span *ngIf="pasta.extensao === 'ini' " (click)="clickArquivo(pasta.id)"><i   class="fa fa-file-o" aria-hidden="true"></i> {{pasta.name}} </span>
                            <span *ngIf="pasta.extensao === 'gif' " (click)="clickArquivo(pasta.id)"><i   class="fa fa-image" aria-hidden="true"></i> {{pasta.name}} </span>
                            <span *ngIf="pasta.extensao === 'xml' " (click)="clickArquivo(pasta.id)"><i   class="fa fa-file-o" aria-hidden="true"></i> {{pasta.name}} </span>
                            <span *ngIf="pasta.extensao === 'txt' " (click)="clickArquivo(pasta.id)"><i   class="fa fa-file-o" aria-hidden="true"></i> {{pasta.name}} </span>
                            <span *ngIf="pasta.extensao === 'xls' " (click)="clickArquivo(pasta.id)"><i   class="fa fa-file-o" aria-hidden="true"></i> {{pasta.name}} </span>
                            
                        </td>
                    <td>{{pasta.autorModificacao}}</td>
                    <td>{{pasta.releaseDate}}</td>
                </tr>
            </tbody>
    </table>


</div>
  

