<ol class="breadcrumb">
  <li *ngFor="let bredCrumb of bredCrumbs" class="breadcrumb-item active">
      <ng-template [ngIf]="bredCrumb.nivel == '0' "><a  (click)="clickBredCrumb(bredCrumb.id)" >{{bredCrumb.name}}</a></ng-template>
      <ng-template [ngIf]="bredCrumb.nivel == '1' ">{{bredCrumb.name}}</ng-template>
  </li>
</ol>



